.jumbotron {
  padding-top: 20px;
  padding-bottom: 22px;
  margin-bottom: 35px;
  margin-top: 35px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}

#title {
  background: rgba(228, 250, 233, 0.83);
  text-align: center;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

p, #placeOrder {
  font-family: 'The Girl Next Door', cursive;
}

#orderForm, #orderResult {
  background: rgb(228, 250, 233);
}

.container {
  background-image: url(http://s1.1zoom.me/big0/683/Flowering_trees_Branches_486920.jpg);
}
